.loginContainerPage {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    .loginContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .loginHeader {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            h1 {
                font-size: 2.5rem;
            }

            img {
                width: 90px;
            }
        }

        .formContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            width: 100%;
            padding: 0 20%;

            span {
                width: 100%;
                text-align: right;
                margin: -8px 8px 0 0;
                cursor: pointer;
                color: var(--common-text);
                transition: all 0.3s;

                &:hover {
                    color: var(--highlighted-text);
                }
            }

            input {
                width: 100%;

                &.invalid {
                    border: 1px solid red;
                }
            }

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            .loginBtnContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                width: 100%;
                margin-top: 1.5rem;

                button {
                    font-size: 1.3rem;

                    &:first-child {
                        width: 70%;
                    }
                    &:last-child {
                        width: 55%;
                    }
                }
            }
        }
    }

    .loginImageContainer {
        overflow: hidden;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--highlighted-text);

        img {
            max-width: 980px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .loginImageContainer {
        img {
            width: 600px;
        }
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 14px;
    }
    .loginContainerPage {
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        .loginImageContainer {
            display: none;
        }
    }
}
