.shopSection {
	height: 100%;
	width: 100%;
	background-color: red;
	display: flex;
	align-items: center;
	padding: 2rem 0;

	.container {
		height: 80%;
		margin: 0 auto;
		width: 80%;
		background-color: blue;
		padding: 1rem 2rem;

		.btns {
			display: flex;
			gap: 1rem;
		}

		.gridContainer {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 1rem;
		}
	}
}
